<div class="home">
    <section class="hero">
        <div class="hero-content text-center">
            <h1>Bienvenue Au Petit Village</h1>
            <p>Découvrez nos produits et notre histoire.</p>
            <div class="cta-buttons">
                <a href="#about" class="btn btn-primary">Mieux nous connaître</a>
                <a href="#products" class="btn btn-secondary">Notre boutique</a>
            </div>
        </div>
    </section>
    <section id="about" class="about">
        <div class="card about-content mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/images/banner/figurine-gaulois-suivez-moi.jpg" class="img-fluid rounded-start"
                        alt="Figurine Gaulois">
                </div>
                <div class="col-md-8 about-text">
                    <div class="card-body">
                        <h2 class="card-title">À Propos de Nous</h2>
                        <p class="card-text">“Au petit village” est une entreprise qui confectionne des figurines
                            inspirées de la bande dessinée
                            Astérix et Obélix. Elle cible une population jeune entre 30 et 55 ans, nostalgique des
                            aventures des célèbres Gaulois.</p>
                        <div class="cta-buttons">
                            <a href="/about" class="btn btn-primary">En savoir plus</a>
                        </div>
                        <div class="card m-3">
                            <img src="/images/banner/figurine-nos-heros.jpg" class="img-fluid rounded"
                                alt="Figurine Gaulois">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="products" class="products">
        <h2>Nos Produits</h2>
        <!-- Zoning pour le catalogue des produits -->
        <div class="product-filters">
            <button class="btn btn-primary">Trier par prix croissant</button>
            <button class="btn btn-primary">Trier par prix décroissant</button>
            <input type="text" placeholder="Rechercher par nom" class="form-control" />
        </div>
        <div class="product-list">
            <!-- Liste des produits -->
        </div>
    </section>
    <section id="contact" class="contact">
        <h2>Contactez-Nous</h2>
        <p>Nous sommes là pour vous aider.</p>
    </section>
</div>